<p id="notice"><%= notice %></p>

<h1>Listing Owners</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone number</th>
      <th>Province</th>
      <th>Address</th>
      <th>Type</th>
      <th>Description</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>State</th>
      <th>Price</th>
      <th>Avalibility</th>
      <th>Real state number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @owners.each do |owner| %>
      <tr>
        <td><%= owner.name %></td>
        <td><%= owner.phone_number %></td>
        <td><%= owner.province %></td>
        <td><%= owner.address %></td>
        <td><%= owner.type %></td>
        <td><%= owner.description %></td>
        <td><%= owner.latitude %></td>
        <td><%= owner.longitude %></td>
        <td><%= owner.state %></td>
        <td><%= owner.price %></td>
        <td><%= owner.avalibility %></td>
        <td><%= owner.real_state_number %></td>
        <td><%= link_to 'Show', owner %></td>
        <td><%= link_to 'Edit', edit_owner_path(owner) %></td>
        <td><%= link_to 'Destroy', owner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<h5>You should SIGN UP or LOG IN befor adding your Details  </h5>
<% if user_signed_in? %>
Logged in as <strong><%= current_user.email %></strong>
<br><br>
   <%= link_to 'New Owner', new_owner_path %> |
   <%= link_to 'Edit profile', edit_user_registration_path %> |
   <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
 <% else %>
   <%= link_to "Sign up", new_user_registration_path  %> |
   <%= link_to "Login", new_user_session_path %>
 <% end %>

